.st0 {
    fill:#0acf83
}
.st1 {
    fill:#a259ff
}
.st2 {
    fill:#f24e1e
}
.st3 { 
    fill:#ff7262
}
.st4 {
    fill:#1abcfe
}

.clsAhad {
    fill: #3b54a3;
}

.clsIsnani {
    fill: #0c0d0d;
    stroke: #080808;
    stroke-miterlimit: 10;
}

.clsSalasatun {
    fill: #edeff4;
}

.clsArbangatun {
    fill: #ec1c38;
}

.clsKhomsatun {
    fill: none;
}